<div class="card">
        <div class="softwareAdminTab">
            <a href="#first" aria-controls="first" role="tab" data-toggle="tab" class="activeTab"><h5>HUMAN RESOURCES</h5></a>

            <a href="#second" aria-controls="second" role="tab" data-toggle="tab"><h5>FINANCE</h5></a>

            <a href="#third" aria-controls="third" role="tab" data-toggle="tab"><h5>RESEARCH & DEVELOPMENT</h5></a>
        </div>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="first">
            <div class="row softList">
            <div class="col-md-3 col-xs-6">
                <%= image_tag("bamboologo.png", class:"img-responsive") %>
              <p class="softName">Bamboo</p>
              <p class="softDesc">HR Software</p>
            </div>
            <div class="col-md-3 col-xs-6">
              <%= image_tag("Box_cyan.png", class:"img-responsive") %>
              <p class="softName">Box</p>
              <p class="softDesc">HR Software</p>
            </div>
            <div class="col-md-3 col-xs-6">
              <%= image_tag("greenhouselogo.png", class:"img-responsive") %>
              <p class="softName">Greenhouse</p>
              <p class="softDesc">HR Software</p>
            </div>
            <div class="col-md-3 col-xs-6">
              <%= image_tag("OneDrive.png", class:"img-responsive") %>
              <p class="softName">One Drive</p>
              <p class="softDesc">HR Software</p>
            </div>
            </div>

            <div class="row softList">
            <div class="col-md-3 col-xs-6">
                <%= image_tag("sharepoint-logo.png", class:"img-responsive") %>
              <p class="softName">Bamboo</p>
              <p class="softDesc">HR Software</p>
            </div>
            </div>
          </div>

          <div role="tabpanel" class="tab-pane" id="second">
            <div class="row softList">
            <div class="col-md-3 col-xs-6">
              <%= image_tag("800x800-ns-logo.png", class:"img-responsive") %>
              <p class="softName">Netsuite Sandbox Environment</p>
              <p class="softDesc">Finance Software</p>
            </div>
            <div class="col-md-3 col-xs-6">
              <%= image_tag("adprun.png", class:"img-responsive") %>
              <p class="softName">ADP</p>
              <p class="softDesc">Finance Software</p>
            </div>
            <div class="col-md-3 col-xs-6">
              <%= image_tag("American-Express.png", class:"img-responsive") %>
              <p class="softName">American Express</p>
              <p class="softDesc">Finance Software</p>
            </div>
            <div class="col-md-3 col-xs-6">
              <%= image_tag("Box_cyan.png", class:"img-responsive") %>
              <p class="softName">Box</p>
              <p class="softDesc">Finance Software</p>
            </div>
            </div>

            <div class="row softList">
            <div class="col-md-3 col-xs-6">
              <%= image_tag("coupa_logo_RGB_LowRes.png", class:"img-responsive") %>
              <p class="softName">Netsuite Sandbox Environment</p>
              <p class="softDesc">Finance Software</p>
            </div>
            <div class="col-md-3 col-xs-6">
              <%= image_tag("FRB.png", class:"img-responsive") %>
              <p class="softName">Netsuite Sandbox Environment</p>
              <p class="softDesc">Finance Software</p>
            </div>
            <div class="col-md-3 col-xs-6">
              <%= image_tag("OneDrive.png", class:"img-responsive") %>
              <p class="softName">One Drive</p>
              <p class="softDesc">Finance Software</p>
            </div>
            <div class="col-md-3 col-xs-6">
              <%= image_tag("sharepoint-logo.png", class:"img-responsive") %>
              <p class="softName">One Drive</p>
              <p class="softDesc">Finance Software</p>
            </div>
            </div>

            <div class="row softList">
            <div class="col-md-3 col-xs-6">
              <%= image_tag("Vanguard.png", class:"img-responsive") %>
              <p class="softName">Netsuite Sandbox Environment</p>
              <p class="softDesc">Finance Software</p>
            </div>
            </div>
          </div>

          <div role="tabpanel" class="tab-pane" id="third">
            <div class="row softList">
            <div class="col-md-3 col-xs-6">
              <%= image_tag("720px-US-NLM-PubMed-Logo.svg.png", class:"img-responsive") %>
              <p class="softName">PubMed</p>
              <p class="softDesc">R&D Software</p>
            </div>
            <div class="col-md-3 col-xs-6">
              <%= image_tag("Alegeus_Bug_Transparent.png", class:"img-responsive") %>
              <p class="softName">Alegeus</p>
              <p class="softDesc">R&D Software</p>
            </div>
            <div class="col-md-3 col-xs-6">
              <%= image_tag("Arxspan-Logo.png", class:"img-responsive") %>
              <p class="softName">Arxspan</p>
              <p class="softDesc">R&D Software</p>
            </div>
            <div class="col-md-3 col-xs-6">
              <%= image_tag("Box_cyan.png", class:"img-responsive") %>
              <p class="softName">Box</p>
              <p class="softDesc">R&D Software</p>
            </div>
            </div>

            <div class="row softList">
            <div class="col-md-3 col-xs-6">
              <%= image_tag("FJ-gradient-webtest2.png", class:"img-responsive") %>
              <p class="softName">PubMed</p>
              <p class="softDesc">R&D Software</p>
            </div>
            <div class="col-md-3 col-xs-6">
              <%= image_tag("nature.png", class:"img-responsive") %>
              <p class="softName">Nature</p>
              <p class="softDesc">R&D Software</p>
            </div>
            <div class="col-md-3 col-xs-6">
              <%= image_tag("OneDrive.png", class:"img-responsive") %>
              <p class="softName">One Drive</p>
              <p class="softDesc">R&D Software</p>
            </div>
            <div class="col-md-3 col-xs-6">
              <%= image_tag("ScienceDirect_logo.svg.png", class:"img-responsive") %>
              <p class="softName">Science Direct</p>
              <p class="softDesc">R&D Software</p>
            </div>
            </div>

            <div class="row softList">
            <div class="col-md-3 col-xs-6">
              <%= image_tag("sharepoint-logo.png", class:"img-responsive") %>
              <p class="softName">PubMed</p>
              <p class="softDesc">R&D Software</p>
            </div>
            <div class="col-md-3 col-xs-6">
              <%= image_tag("Vertical_Full_Colour.png", class:"img-responsive") %>
              <p class="softName">PubMed</p>
              <p class="softDesc">R&D Software</p>
            </div>
            </div>


          </div>
        </div>
      </div>
