<div class="row softList">
  <div class="col-md-3 col-xs-6">
    <%= link_to (image_tag("greenhouselogo.png", class:"img-responsive")), 'https://app.greenhouse.io/users/sign_in', target: 'blank' %>
    <p class="softName">Greenhouse</p>
  </div>
  <div class="col-md-3 col-xs-6">
    <%= link_to (image_tag("bamboologo.png", class:"img-responsive")), 'https://intellia.bamboohr.com', target: 'blank' %>
    <p class="softName">Bamboo</p>
  </div>
  <div class="col-md-3 col-xs-6">
    <%= link_to (image_tag("coupa_logo_RGB_LowRes.png", class:"img-responsive")), 'https://intelliatx-test.coupahost.com/sessions/new', target: 'blank' %>
    <p class="softName">Coupa</p>
  </div>
  <div class="col-md-3 col-xs-6">
    <%= link_to (image_tag("vanguard.jpg", class:"img-responsive")), 'https://www3.sponsorinsight.com/vanguard/SignIn', target: 'blank' %>
    <p class="softName">Vanguard</p>
  </div>
</div>
<div class="row softList">
  <div class="col-md-3 col-xs-6">
    <%= link_to (image_tag("American-Express.png", class:"img-responsive")), 'https://sso.americanexpress.com/SPS/logon?spsversion=v2&ssolang=en_US&ssobrand=ATWORK&TYPE=33554432&REALMOID=06-00065e6f-d070-14d9-95a5-1e080a10206f&GUID=&SMAUTHREASON=0&METHOD=GET&SMAGENTNAME=m2hs5YBuMf5mp9TndnX947Y3whepB6CUHrxkQRzdtpnC6AXf0DG09bZQ8pH2CHrq&TARGET=$SM$HTTPS%3a%2f%2fwww347.americanexpress.com%2fATWORK%2fen_US%2fatwork.do%3fpageAction%3dinitialize', target: 'blank' %>
    <p class="softName">American Express</p>
  </div>
  <div class="col-md-3 col-xs-6">
    <%= link_to (image_tag("OneDrive.png", class:"img-responsive")), 'https://onedrive.live.com/about/en-us/', target: 'blank' %>
    <p class="softName">One Drive</p>
  </div>
  <div class="col-md-3 col-xs-6">
    <%= link_to (image_tag("Box_cyan.png", class:"img-responsive")), 'https://app.box.com/login?redirect_url=%2Ffiles%2F0%2Ff%2F3603597803%2FIntellia_Therapeutics', target: 'blank' %>
    <p class="softName">Box</p>
  </div>
  <div class="col-md-3 col-xs-6">
    <%= link_to (image_tag("sharepoint-logo.png", class:"img-responsive")), 'https://login.live.com/login.srf?wa=wsignin1.0&rpsnv=12&ct=1459961669&rver=6.7.6643.0&wp=MBI_SSL&wreply=https%3A%2F%2Fstores.office.com%2Fauthredir%3Furl%3Dhttps%253a%252f%252fstores.office.com%253a443%252fmyaccount%252fhome.aspx%253fui%253den-US%2526rs%253den-US%2526ad%253dUS%26hurl%3DHNRMIT1%252fp07QH9wDV49zqR4PjxAIoOCnPqoeBaMLC3Q%253d.yVzA1JrJwl83JnmlLA5LBMcR2Hxkcnj3DWZe14p9ErY%253d%26ipt%3D0&lc=1033&id=290950&lw=1&fl=easi2&cbcxt=101___Type_mux', target: 'blank' %>
    <p class="softName">SharePoint</p>
  </div>
</div>
<div class="row softList">
  <div class="col-md-3 col-xs-6">
    <%= link_to (image_tag("nature_logo.jpg", class:"img-responsive")), 'http://www.nature.com', target: 'blank' %>
    <p class="softName">Nature</p>
  </div>
  <div class="col-md-3 col-xs-6">
    <%= link_to (image_tag("logo_office_365.jpg", class:"img-responsive")), 'https://login.microsoftonline.com/', target: 'blank' %>
    <p class="softName">Office 365</p>
  </div>
  <div class="col-md-3 col-xs-6">
    <%= link_to (image_tag("topdf.png", class:"img-responsive")), '#', target: 'blank' %>
    <p class="softName">Policies</p>
  </div>
</div>
