<% unless current_user.admin? %>
  <%= render("cp") %>
<% end %>
<div class="row softList">
  <div class="col-md-3 col-xs-6">
    <%= link_to (image_tag("800x800-ns-logo.png", class:"img-responsive")), 'https://system.sandbox.netsuite.com/pages/customerlogin.jsp', target: 'blank' %>
    <p class="softName">Netsuite Sandbox Environment</p>
  </div>
  <div class="col-md-3 col-xs-6">
    <%= link_to (image_tag("adprun.png", class:"img-responsive")), 'https://runpayroll.adp.com/enrollment.aspx?autofwd=0', target: 'blank' %>
    <p class="softName">ADP</p>
  </div>
  <div class="col-md-3 col-xs-6">
    <%= link_to (image_tag("FRB.png", class:"img-responsive")), 'https://www.frcorporateonline.com/wcmfd/wcmpw/CustomerLogin', target: 'blank' %>
    <p class="softName">First Republic</p>
  </div>
  <div class="col-md-3 col-xs-6">
    <%= link_to (image_tag("Alegeus_Bug_Transparent.png", class:"img-responsive")), 'https://www.wealthcareadmin.com/default.aspx', target: 'blank' %>
    <p class="softName">Choice Care</p>
  </div>
</div>
<div class="row softList">
  <div class="col-md-3 col-xs-6">
    <%= link_to (image_tag("topdf.png", class:"img-responsive")), '#', target: 'blank', title: 'Coming Soon!' %>
    <p class="softName">Policies</p>
  </div>
  </div>
