<div class="row">
  <h5 class="col-md-12 sofwareDepTitl">FINANCE</h5>
</div>

<div class="row softList">
<div class="col-md-3 col-sm-6 col-xs-6">
  <%= image_tag("800x800-ns-logo.png", class:"img-responsive") %>
  <p class="softName">Netsuite Sandbox Environment</p>
  <p class="softDesc">Finance Software</p>
</div>
<div class="col-md-3 col-sm-6 col-xs-6">
  <%= image_tag("adprun.png", class:"img-responsive") %>
  <p class="softName">ADP</p>
  <p class="softDesc">Finance Software</p>
</div>
<div class="col-md-3 col-sm-6 col-xs-6">
  <%= image_tag("American-Express.png", class:"img-responsive") %>
  <p class="softName">American Express</p>
  <p class="softDesc">Finance Software</p>
</div>
<div class="col-md-3 col-sm-6 col-xs-6">
  <%= image_tag("Box_cyan.png", class:"img-responsive") %>
  <p class="softName">Box</p>
  <p class="softDesc">Finance Software</p>
</div>
</div>

<div class="row softList">
<div class="col-md-3 col-sm-6 col-xs-6">
  <%= image_tag("coupa_logo_RGB_LowRes.png", class:"img-responsive") %>
  <p class="softName">Netsuite Sandbox Environment</p>
  <p class="softDesc">Finance Software</p>
</div>
<div class="col-md-3 col-sm-6 col-xs-6">
  <%= image_tag("FRB.png", class:"img-responsive") %>
  <p class="softName">Netsuite Sandbox Environment</p>
  <p class="softDesc">Finance Software</p>
</div>
<div class="col-md-3 col-sm-6 col-xs-6">
  <%= image_tag("OneDrive.png", class:"img-responsive") %>
  <p class="softName">One Drive</p>
  <p class="softDesc">Finance Software</p>
</div>
<div class="col-md-3 col-sm-6 col-xs-6">
  <%= image_tag("sharepoint-logo.png", class:"img-responsive") %>
  <p class="softName">One Drive</p>
  <p class="softDesc">Finance Software</p>
</div>
</div>

<div class="row softList">
<div class="col-md-3 col-sm-6 col-xs-6">
  <%= image_tag("Vanguard.png", class:"img-responsive") %>
  <p class="softName">Netsuite Sandbox Environment</p>
  <p class="softDesc">Finance Software</p>
</div>
</div>
