<div class="row">
  <h5 class="col-md-12 sofwareDepTitl">HUMAN RESOURCE</h5>
</div>

<div class="row softList">
<div class="col-md-3">
    <%= image_tag("bamboologo.png", class:"img-responsive") %>
  <p class="softName">Bamboo</p>
  <p class="softDesc">HR Software</p>
</div>
<div class="col-md-3">
  <%= image_tag("Box_cyan.png", class:"img-responsive") %>
  <p class="softName">Box</p>
  <p class="softDesc">HR Software</p>
</div>
<div class="col-md-3">
  <%= image_tag("greenhouselogo.png", class:"img-responsive") %>
  <p class="softName">Greenhouse</p>
  <p class="softDesc">HR Software</p>
</div>
<div class="col-md-3">
  <%= image_tag("OneDrive.png", class:"img-responsive") %>
  <p class="softName">One Drive</p>
  <p class="softDesc">HR Software</p>
</div>
</div>

<div class="row softList">
<div class="col-md-3">
    <%= image_tag("sharepoint-logo.png", class:"img-responsive") %>
  <p class="softName">Bamboo</p>
  <p class="softDesc">HR Software</p>
</div>
</div>
