<% unless current_user.admin? %>
  <%= render("cp") %>
<% end %>
<div class="row softList">
  <div class="col-md-3 col-xs-6">
    <%= link_to (image_tag("720px-US-NLM-PubMed-Logo.svg.png", class:"img-responsive")), 'http://www.ncbi.nlm.nih.gov/pubmed', target: 'blank' %>
    <p class="softName">PubMed</p>
  </div>
  <div class="col-md-3 col-xs-6">
    <%= link_to (image_tag("Arxspan-Logo.png", class:"img-responsive")), 'https://eln.arxspan.com/login.asp', target: 'blank' %>
    <p class="softName">Arxspan</p>
  </div>
  <div class="col-md-3 col-xs-6">
    <%= link_to (image_tag("FJ-gradient-webtest2.png", class:"img-responsive")), 'http://www.flowjo.com/', target: 'blank' %>
    <p class="softName">Flowjo</p>
  </div>
  <div class="col-md-3 col-xs-6">
    <%= link_to (image_tag("ScienceDirect_logo.svg.png", class:"img-responsive")), 'http://www.sciencedirect.com', target: 'blank' %>
    <p class="softName">Science Direct</p>
  </div>
</div>
<div class="row softList">
  <div class="col-md-3 col-xs-6">
    <%= link_to (image_tag("Vertical_Full_Colour.png", class:"img-responsive")), 'https://www.mendeley.com/', target: 'blank' %>
    <p class="softName">Mendeley</p>
  </div>
  <div class="col-md-3 col-xs-6">
    <%= link_to (image_tag("graphPad.jpg", class:"img-responsive")), 'http://www.graphpad.com', target: 'blank' %>
    <p class="softName">Graph Pad Prism</p>
  </div>
  <div class="col-md-3 col-xs-6">
    <%= link_to (image_tag("vector_nti.gif", class:"img-responsive")), 'https://www.thermofisher.com/us/en/home/life-science/cloning/vector-nti-software.html', target: 'blank' %>
    <p class="softName">Vector NTI</p>
  </div>
</div>