<h1>Add Event</h1>

<%= link_to "Add Calendar Event", new_calendar_path %>

<%= month_calendar events: @calendars do |date, calendars| %>
  <%= date %>
  <% calendars.each do |calendar| %>
    <p> Title: <%= link_to("#{calendar.title}", {:action => 'show', :id => calendar.id}, :class => 'action show') %></p>
    <p>Start Time: <%= calendar.start_time %><p>
  <% end %>
<% end %>
