<p>Add Event</p>

  <%= form_for :event do |f| %>
    <%= f.label :title %>:
    <%= f.text_field :title %><br />
    <%= f.label :start_time %>:
    <%= f.datetime_select :start_time %><br />
    <%= f.hidden_field :user_id, :value => current_user.id%><br />
    <%= f.label :submit %>:
    <%= f.submit  %>
  <% end %>


<%= month_calendar do |date| %>
  <%= date %>
<% end %>

<p>Title: <%= @event.title %><p>
<p>Start Time: <%= @event.start_time %><p>
