<div class="row">
	<div class="col-sm-12 new_cal_event">
		<h1 class="contentTitle">CREATE EVENT</h1>
		<%= form_for :calendar, url: { action: "create"} do |f| %>
			<%# f.label :title %><br>
		  <%= f.text_field :title, placeholder: "EVENT TITLE" %><br>
			<!-- Beginning date, start date to end time, end date -->
		  <%= f.label :start_time %><br>
		  <%= f.datetime_select :start_time %><br>
		  <%= f.hidden_field :user_id, :value => current_user.id%><br>
		  <%= f.submit "SAVE EVENT", class: 'btn' %>
		<% end %>
	</div>
</div>
