<div class="row">
	<div class="col-sm-12 new_cal_event">
		<h1 class="contentTitle"><%= @calendar.start_time.strftime("%b %e, %Y") %></h1>
		<p><%= @calendar.start_time.strftime("%I:%M%p") %></p>
		<p><%= @calendar.title %></p>
		<%= link_to "Edit", edit_calendar_path, class: "btn btn-warning" %>
		<%= link_to "Delete", "/calendars/#{@calendar.id}", {method: :delete, class: "btn btn-warning"} %>
	</div>
</div>
