<div class="col-md-2 menuCol hidden-xs hidden-sm"><!--START menu column desktop-->
  <ul class="text-center">

    <li>
			<a href="/software">
				<% if @software_active %>
					<%= image_tag("TechnologiesIconColor.png", class:"img-responsive") %>
				<% else %>
					<%= image_tag("TechIcon.png", class:"img-responsive") %>
				<% end %>
				<h5>MY TOOLS</h5>
			</a>
		</li>

    <li>
			<a href="/calendars/">
				<% if @calendar_active %>
					<%= image_tag("CalendarIconColor.png", class:"img-responsive") %>
				<% else %>
					<%= image_tag("CalendarIcon.png", class:"img-responsive") %>
				<% end %>
				<h5>CALENDAR</h5>
			</a>
		</li>

    <li>
			<a href="/" >
				<% if @article_active %>
					<%= image_tag("AtriclesIconColor.png", class:"img-responsive") %>
				<% else %>
					<%= image_tag("ArticlesIcon.png", class:"img-responsive") %>
				<% end %>
				<h5>ARTICLES</h5>
			</a>
		</li>

		<li>
			<a href="/tweets/">
				<% if @twitter_active %>
					<%= image_tag("TwitterIconColor.png", class:"img-responsive") %>
				<% else %>
					<%= image_tag("TwitterIcon.png", class:"img-responsive") %>
				<% end %>
				<h5>TWITTER</h5>
			</a>
		</li>
  </ul>
</div><!--END menu column desktop-->

<div class="col-md-2 menuColMobile visible-xs visible-sm"><!--START menu column mobile-->
  <ul class="text-center menuColMobileMenu">
    <li>
			<a href="/software">
				<% if @software_active %>
					<%= image_tag("TechnologiesIconColor.png", class:"img-responsive") %>
				<% else %>
					<%= image_tag("TechIcon.png", class:"img-responsive") %>
				<% end %>
				<h5>MY TOOLS</h5>
			</a>
		</li>

    <li>
			<a href="/calendars/">
				<% if @calendar_active %>
					<%= image_tag("CalendarIconColor.png", class:"img-responsive") %>
				<% else %>
					<%= image_tag("CalendarIcon.png", class:"img-responsive") %>
				<% end %>
				<h5>CALENDAR</h5>
			</a>
		</li>

    <li>
			<a href="/">
				<% if @article_active %>
					<%= image_tag("AtriclesIconColor.png", class:"img-responsive") %>
				<% else %>
					<%= image_tag("ArticlesIcon.png", class:"img-responsive") %>
				<% end %>
				<h5>ARTICLES</h5>
			</a>
		</li>

		<li>
			<a href="/tweets/">
				<% if @twitter_active %>
					<%= image_tag("TwitterIconColor.png", class:"img-responsive") %>
				<% else %>
					<%= image_tag("TwitterIcon.png", class:"img-responsive") %>
				<% end %>
				<h5>TWITTER</h5>
			</a>
		</li>

    <li>
			<a href="/users/">
        <% if @user_active %>
          <%= image_tag("UserIconColor.png", class:"img-responsive") %>
        <% else %>
          <%= image_tag("UserIcon.png", class:"img-responsive") %>
        <% end %>
				<h5>USERS</h5>
			</a>
		</li>
  </ul>
</div><!--END menu column mobile-->
