<div class="col-md-3 profileCol"><!--START profile column-->
  <div class="row profileInfo"><!--current user profile row-->
    <div class="col-xs-4">
      <div class="imageLine"><!--photo-->
        <% if current_user.photo? %>
          <%= link_to (image_tag(current_user.photo.thumb, class:"img-responsive")), user_path(current_user.id) %>
        <% else %>
          <%= image_tag('login_logo.png', class: 'img-responsive') %>
        <% end %>
      </div><!--end photo-->
    </div>
    <div class="col-xs-8">
      <div class="nameLine"><!--employee name-->
        <% if current_user.first_name? and current_user.last_name? %>
          <h4><%= current_user.first_name + " " +  current_user.last_name %></h4>
        <% else %>
          <h1>Intellia Employee</h1>
        <% end %>
      </div><!--end employee name-->

      <div class="lastLoginLine"><!--last login name-->
        <p>Last Login: <%= current_user.last_sign_in_at.strftime("%b %e, %r")  %></p>
        <%= link_to('LOGOUT', destroy_user_session_path, method: :delete, class: 'btn logout') %>
        <%= link_to('PROFILE', user_path(current_user.id), class: 'btn edit') %>
      </div><!--last login name-->
    </div>
  </div><!--end current user profile row-->

  <div ng-controller="JsonUserCtrl" ng-init="setup()" class="hidden-xs hidden-sm"><!--START index users json-->
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">
              <i class="glyphicon glyphicon-search"></i>
            </div>
          <input type="text" class="form-control" placeholder="Employee Search" ng-model="search">
        </div>
      </div>
    </div>
  </div>

  <div class="plContainer">
    <div ng-repeat="user in users | filter:search" class="profileList" ng-if="user.id != <%= current_user.id %>">
      <div class="profileRow">
        <div class="profilePic" ng-if="user.photo.photo.thumb.url">
          <img src="{{ user.photo.photo.thumb.url }}" />
        </div>

        <div class="profilePic" ng-if="!user.photo.photo.url">
          <%= image_tag('login_logo.png', class: 'img-responsive') %>
        </div>

        <div class="profileName">
          <a ng-href="/users/{{user.id}}">{{ user.full_name}}</a>
        </div>
      </div>
    </div>
  </div>

  </div><!--END index users json--> 

  <%= image_tag("intellia_logo_small.png", class: 'img-responsive intellia-profile-logo hidden-xs hidden-sm', alt: 'Intellia Logo') %> 
       
</div><!--END profile column-->