<!DOCTYPE html>
<html>
	<head>
	  <title>IntelliaIntranet</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>

<div class="container" ng-app="app">

		<div class="col-md-3 profileCol">
			<div>
			<% if user_signed_in? %>
		  <div class="imageLine">
				<% if current_user.photo? %>
		    <%= image_tag(current_user.photo, class:"img-responsive")  %>
				<% else %>
				<img src="http://www.animate.tv/news/visual/2014/1418909723_2_2_5c2e5ce96cb05993516842f8ad958c3e.jpg" class="img-responsive">
				<% end %>
		  </div>
		  <div class="nameLine">
				<% if current_user.first_name? and current_user.last_name? %>
		    <p><%= current_user.first_name + " " +  current_user.last_name %></p>
				<% else %>
				<p>I'm Jonn Doe</p>
				<% end %>
		  </div>
		  <div class="departLine">
		    <p><%= current_user.department  %></p>
		  </div>
		  <div class="lastLoginLine">
		    <p>Last Login: <%= current_user.last_sign_in_at.strftime("%b %e, %H:%M")  %></p>
		  </div>

		  <div ng-controller="JsonUserCtrl" ng-init="setup()">

		    <div class="form-group">
		      <div class="input-group">
		        <div class="input-group-addon">Search</div>
		        <input type="text" class="form-control" placeholder="Search users" ng-model="search.full_name">
		      </div>
		    </div>

		    <div class="row">
		            <div ng-repeat="user in users | filter:search" class="profileList">
		              <div class="col-md-3" ng-if="user.photo.photo.url">
										<img src="{{ user.photo.photo.url }}", class="img-responsive" />
									</div>
									<div class="col-md-3" ng-if="!user.photo.photo.url">
										<img src="http://www.animate.tv/news/visual/2014/1418909723_2_2_5c2e5ce96cb05993516842f8ad958c3e.jpg", class="img-responsive" />
									</div>
		              <div class="col-md-9"><a ng-href="/accounts/{{user.id}}">{{ user.full_name}}</a></div>
		            </div>
		    </div>
		  </div>
			<% else %>
				<div>
					<img src="http://www.intelliatx.com/wp-content/uploads/2015/11/intellia-logo.jpg" class="img-responsive">
					<p>Intranet</p>
				</div>
			<% end %>
		</div>
		</div>
		<div class="col-md-2 menuCol">
			<div>
		  <ul>
		    <li><a href="/">ARTICLES</a></li>
		    <li>TECHNOLOGIES</li>
		    <li>TWITTER</li>
		    <li>CALENDAR</li>
		  </ul>
		</div>
		</div>

		<div class="col-md-7 contentCol">
			<%= yield %>
		</div>
</div>

	</body>
</html>
