<!DOCTYPE html>
<html>
	<head>
	  <title>IntelliaIntranet</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	  <script src='https://www.google.com/recaptcha/api.js'></script>
	</head>
	<body>
		<div class="container-fluid" ng-app="app"><!--START ng-app-->

			<!--check user signed in, if yes, display profile and menu-->
			<% if user_signed_in? %>
				<%= render "/layouts/profile_column" %>
				<%= render "/layouts/menu_column" %>
			<% end %>

			<!--check user signed in, if yes, display adjust content div size to account for profile and menu-->
			<% if user_signed_in? %>
				<div class="col-md-7 col-lg-8 contentCol">
			<% else %>
				<div class="col-md-12 contentCol">
			<% end %>

					<%= yield %>

				</div>
		</div><!--END ng-app-->

	</body>
</html>
