<div class="row">
  <div class="col-sm-4 col-sm-offset-4 login_panel">
    <%= image_tag("login_logo.png", class: "img-responsive center-block", alt: 'Intellia Logo') %>
    <h2>SIGN UP</h2>
    <h3>Check your email for account activation after signup.</h3>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :title %><br />
        <%= f.text_field :title, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :first_name %><br />
        <%= f.text_field :first_name, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :last_name %><br />
        <%= f.text_field :last_name, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :department %><br />
        <%= f.select :department, User.departments, prompt: 'Select Your Department', department: true, class:'dropdown-menu', autofocus: 'true' %>
      </div>

      <div class="field">
        <%= f.label :phone %><br />
        <%= f.text_field :phone, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :photo %><br />
        <%= f.file_field :photo %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= recaptcha_tags %>
      </div>

      <div class="actions">
        <%= f.submit "SIGN UP", class: 'btn' %>
      </div>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</div>
